replicaCount: 3

image:
  repository: verana/verana-visualizer
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: LoadBalancer
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: vis.testnet.verana.network
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - vis.testnet.verana.network
      secretName: visualizer-tls-secret

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env:
  NODE_ENV: "production"
  NEXT_PUBLIC_BASE_URL: "https://vis.testnet.verana.network"
  NEXT_PUBLIC_API_ENDPOINT: "https://api.testnet.verana.network"
  NEXT_PUBLIC_RPC_ENDPOINT: "https://rpc.testnet.verana.network"
  NEXT_PUBLIC_IDX_ENDPOINT: "https://idx.testnet.verana.network"
  NEXT_PUBLIC_RESOLVER_ENDPOINT: "https://resolver.testnet.verana.network"
  NEXT_PUBLIC_CHAIN_ID: "vna-testnet-1"
  NEXT_PUBLIC_CHAIN_NAME: "Testnet"
  NEXT_PUBLIC_APP_NAME: "Verana Visualizer"
  NEXT_PUBLIC_APP_LOGO: "logo.svg"
